Django>=1.11.27
python-card-me<1.0
ldif3<3.2
chardet
surlex>=0.2.0
six
# TODO: replace this with sorl-thumbnail>=12.6.0 when released
# Pinning to specific commit (the 12.6.0 release), which is not yet on PyPI
-e https://github.com/jazzband/sorl-thumbnail/archive/12.6.0.tar.gz#egg=sorl-thumbnail
unicodecsv<0.15
# Install most recent Pillow version supported for Python version
# https://pillow.readthedocs.io/en/stable/installation.html#notes
Pillow==6.2.1;python_version=="2.7"
Pillow==5.4;python_version=="3.4"
Pillow>=7;python_version>="3.5"
